<form action="/print" method="POST">
    <div class="form-row">
        <div class="form-item">
            <label>First Name</label>
            <input type="text" name="fname">
        </div>
        <div class="form-item">
            <label>Last Name</label>
            <input type="text" name="lname">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
